[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
isort = "*"
flake8 = "*"
selenium = "*"
beautifulsoup4 = "*"
openpyxl = "*"

[dev-packages]

[requires]
python_version = "3.7"
